# deb cdrom:[Debian GNU/Linux 10.0.0 _Buster_ - Official amd64 DVD Binary-1 20190706-10:24]/ {{ ansible_lsb['codename'] }} contrib main non-free

deb http://deb.debian.org/debian/ {{ ansible_lsb['codename'] }} main non-free contrib
deb-src http://deb.debian.org/debian/ {{ ansible_lsb['codename'] }} main non-free contrib

deb http://security.debian.org/debian-security {{ ansible_lsb['codename'] }}/updates main contrib non-free
deb-src http://security.debian.org/debian-security {{ ansible_lsb['codename'] }}/updates main contrib non-free

# buster-updates, previously known as 'volatile'
deb http://deb.debian.org/debian/ {{ ansible_lsb['codename'] }}-updates main contrib non-free
deb-src http://deb.debian.org/debian/ {{ ansible_lsb['codename'] }}-updates main contrib non-free
